{% extends 'base.html' %}

{% block content %}

Изучаю Python и Django, делюсь опытом<br>

<a href="http://www.facebook.com/kashyapov" target="_blank">www.facebook.com/kashyapov</a><br>
<a href="http://vk.com/kashyapov" target="_blank">vk.com/kashyapov</a><br>
<a href="http://twitter.com/PKashyapov" target="_blank">twitter.com/PKashyapov</a><br>
<br>
Прохожу обучение с акцентом на практику в школе Валерия Бовсуновского <br>
<a class="btn btn-primary" type="button" href="http://glopages.ru/affiliate/4443572" target="_blank">Подробнее</a>

{% endblock %}
